In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
! ls

README.md  data       data.ipynb

In [10]:
df = pd.read_csv('data/ACSDT5Y2023.B05002_2025-10-23T135826/ACSDT5Y2023.B05002-Data.csv')

In [12]:
df

,GEO_ID,NAME,B05002_001E,B05002_001M,B05002_002E,B05002_002M,B05002_003E,B05002_003M,B05002_004E,B05002_004M,...,B05002_023M,B05002_024E,B05002_024M,B05002_025E,B05002_025M,B05002_026E,B05002_026M,B05002_027E,B05002_027M,Unnamed: 56
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Native:,Margin of Error!!Total:!!Native:,Estimate!!Total:!!Native:!!Born in state of re...,Margin of Error!!Total:!!Native:!!Born in stat...,Estimate!!Total:!!Native:!!Born in other state...,Margin of Error!!Total:!!Native:!!Born in othe...,...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,NaN
1,1400000US06001400100,Census Tract 4001; Alameda County; California,3094,452,2380,455,1302,352,1031,187,...,61,0,14,26,39,50,77,0,14,NaN
2,1400000US06001400200,Census Tract 4002; Alameda County; California,2093,224,1827,235,942,158,825,153,...,11,0,14,0,14,11,14,37,29,NaN
3,1400000US06001400300,Census Tract 4003; Alameda County; California,5727,607,4699,577,2311,453,2160,316,...,11,93,120,0,19,97,126,74,60,NaN
4,1400000US06001400400,Census Tract 4004; Alameda County; California,4395,640,3947,610,2046,375,1782,385,...,24,0,14,0,14,77,95,14,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1768,1400000US06097154305,Census Tract 1543.05; Sonoma County; California,2007,547,1800,442,1445,430,355,126,...,16,0,14,0,14,66,103,0,14,NaN
1769,1400000US06097154306,Census Tract 1543.06; Sonoma County; California,1697,344,1517,323,771,154,746,302,...,17,0,14,0,14,40,28,0,14,NaN
1770,1400000US06097154307,Census Tract 1543.07; Sonoma County; California,837,123,723,149,399,110,292,94,...,14,0,14,3,4,72,70,7,11,NaN
1771,1400000US06097154308,Census Tract 1543.08; Sonoma County; California,788,186,700,186,341,126,344,120,...,14,0,14,0,14,0,14,0,14,NaN
1772,1400000US06097990100,Census Tract 9901; Sonoma County; California,0,14,0,14,0,14,0,14,...,14,0,14,0,14,0,14,0,14,NaN

In [19]:
# make column names lowercase

df.columns = df.columns.str.lower()

In [21]:
# I want to remove the first characters from geoid 1400000US to just have the census tract number

df['geo_id'] = df['geo_id'].str.replace('1400000US', '')

In [22]:
df

,geo_id,name,b05002_001e,b05002_001m,b05002_002e,b05002_002m,b05002_003e,b05002_003m,b05002_004e,b05002_004m,...,b05002_023m,b05002_024e,b05002_024m,b05002_025e,b05002_025m,b05002_026e,b05002_026m,b05002_027e,b05002_027m,unnamed: 56
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!Native:,Margin of Error!!Total:!!Native:,Estimate!!Total:!!Native:!!Born in state of re...,Margin of Error!!Total:!!Native:!!Born in stat...,Estimate!!Total:!!Native:!!Born in other state...,Margin of Error!!Total:!!Native:!!Born in othe...,...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,Estimate!!Total:!!Foreign-born:!!Not a U.S. ci...,Margin of Error!!Total:!!Foreign-born:!!Not a ...,NaN
1,06001400100,Census Tract 4001; Alameda County; California,3094,452,2380,455,1302,352,1031,187,...,61,0,14,26,39,50,77,0,14,NaN
2,06001400200,Census Tract 4002; Alameda County; California,2093,224,1827,235,942,158,825,153,...,11,0,14,0,14,11,14,37,29,NaN
3,06001400300,Census Tract 4003; Alameda County; California,5727,607,4699,577,2311,453,2160,316,...,11,93,120,0,19,97,126,74,60,NaN
4,06001400400,Census Tract 4004; Alameda County; California,4395,640,3947,610,2046,375,1782,385,...,24,0,14,0,14,77,95,14,19,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1768,06097154305,Census Tract 1543.05; Sonoma County; California,2007,547,1800,442,1445,430,355,126,...,16,0,14,0,14,66,103,0,14,NaN
1769,06097154306,Census Tract 1543.06; Sonoma County; California,1697,344,1517,323,771,154,746,302,...,17,0,14,0,14,40,28,0,14,NaN
1770,06097154307,Census Tract 1543.07; Sonoma County; California,837,123,723,149,399,110,292,94,...,14,0,14,3,4,72,70,7,11,NaN
1771,06097154308,Census Tract 1543.08; Sonoma County; California,788,186,700,186,341,126,344,120,...,14,0,14,0,14,0,14,0,14,NaN
1772,06097990100,Census Tract 9901; Sonoma County; California,0,14,0,14,0,14,0,14,...,14,0,14,0,14,0,14,0,14,NaN

In [23]:
# remove the last column 

df = df.iloc[:, :-1]

In [14]:
# read file census_bay_area_tracts_2020_8121511352956101895

gdf = gpd.read_file('data/census_bay_area_tracts_2020_8121511352956101895.geojson')

In [15]:
gdf

,OBJECTID,geoid,countyfp,tract,geometry
0,1,06001400100,001,400100,"POLYGON ((-122.24692 37.88536, -122.24666 37.8..."
1,2,06001400200,001,400200,"POLYGON ((-122.25794 37.84261, -122.25774 37.8..."
2,3,06001400300,001,400300,"POLYGON ((-122.26564 37.83764, -122.26558 37.8..."
3,4,06001400400,001,400400,"POLYGON ((-122.26184 37.84163, -122.26182 37.8..."
4,5,06001400500,001,400500,"POLYGON ((-122.26952 37.84859, -122.26938 37.8..."
...,...,...,...,...,...
1763,1764,06097154304,097,154304,"MULTIPOLYGON (((-123.11533 38.44580, -123.1177..."
1764,1765,06097154305,097,154305,"MULTIPOLYGON (((-123.05702 38.30440, -123.0570..."
1765,1766,06097154306,097,154306,"POLYGON ((-123.01326 38.43105, -123.01298 38.4..."
1766,1767,06097154307,097,154307,"POLYGON ((-123.15762 38.46663, -123.15787 38.4..."
1767,1768,06097154308,097,154308,"MULTIPOLYGON (((-123.44538 38.70155, -123.4454..."

In [18]:
# find a row where the geoid is 06097154308

gdf[gdf['geoid'] == '06097154308']

,OBJECTID,geoid,countyfp,tract,geometry
1767,1768,06097154308,097,154308,"MULTIPOLYGON (((-123.44538 38.70155, -123.4454..."